.card{
   .wrap {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .img {
         // max-width: 300px;
         // max-height: 500px;
         border-radius: 20px;
         width: 100%;
         aspect-ratio: 0.7;

      }

      b {
         font-size: 24px;
      }
      h3 {
         max-width: 200px;
      }

   }
}


.rate {
   max-width: 150px;
   width: 100%;
   aspect-ratio: 3;
   object-fit: contain;
}